.homepage {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 387px;
  height: 809.81px;
}

.tab-bar {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 76.39px;
  padding: 14.07px 4.02px;
  position: relative;
  background-color: #ffffff;
}

.icon-container {
  position: relative;
  width: 75.39px;
  height: 50.26px;
}

.img {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 10px;
  left: 25px;
}

#map_0c228f3feaa5777b55a562c74ec87071 {
  position: middle;
  width: 387px;
  height: 736px;
}
.leaflet-container {
  font-size: 1rem;
}
